@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    --nav-height: 50px;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
    overflow-x: hidden;
  }
  
  .lines {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    right: 0;
    height: auto;
    margin: auto;
    width: 90vw; 
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100vh;
    top: 0;
    left: 50%;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
    overflow: hidden; 
  }
  .line::after {
    content: '';
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); 
  }
  .line:nth-child(1) {
    margin-left: -47%; 
  }

  .line:nth-child(1)::after {
    animation-delay: 2s; 
    animation-duration: 8s;
  }

  .line:nth-child(2) {
    margin-left: -25%; 
  }
  
  .line:nth-child(2)::after {
    animation-delay: 0.6s; 
    animation-duration: 5s;
  }

  .line:nth-child(4) {
    margin-left: 25%; 
  }

  .line:nth-child(4)::after {
    animation-delay: 1.1s; 
    animation-duration: 9s;
  }

  .line:nth-child(5) {
    margin-left: 47%; 
  }

  .line:nth-child(5)::after {
    animation-delay: 1.8s; 
    animation-duration: 10s;
  }

  
  @keyframes drop {
    0% {
      top: -50%; 
    }
    100% {
      top: 110%; 
    } 
  }
  
  .nav {
    position:fixed;
    transition: transform 0.7s
  }

  .semester {
    transition: 0.7
  }

  .center-overlay {
    margin-left: 14px;
  }

  .overlay-bottom {
    bottom: 13%;
  }

  .overlay-text {
    bottom: calc(17vh + 47px);
    right: 67px;
  }

  .overlay-bar {
    border-left-width: 1px;
    top: 86%;
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
  }

  .active-sem {
    --tw-border-opacity: 1;
    border-left-color: rgb(45 212 191 / var(--tw-border-opacity));
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
    border-left-width: 3px;
  }

  .list-element::before {
    content: "▹";
    color: rgb(94 234 212);
  }

  .card {
    --tw-bg-opacity: 1;
    background-color: rgb(44 44 48 / var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.75rem/* 6px */;
    height: 18rem/* 288px */;
    grid-column: span 2 / span 2;
    padding: 12px;

  }

  .subtitle::before {
    content:"";
    display:block;
    position:relative;
    /* top:-5px; */
    /* left:100px; */
    width:300px;
    height:2px;
    background-color: red;
  }

  .nav-hide {
    transform: translateY(-86px);
  }
}

@layer base {
    html {
      font-family: "Calibre","Inter","San Francisco","SF Pro Text",system-ui,sans-serif
    }
}

@media (min-width: 1px) {
  .line {
    height: 895px;
  }
  .experience-padding {
    padding-left: 15vw/* 320px */;
    padding-right: 15vw/* 320px */;
  }
  .portfolio-padding {
    padding-left: 8vw/* 320px */;
    padding-right: 8vw/* 320px */;
  }
}

@media (min-width: 512px) {
  .line {
    height: 908px;
  }
}

@media (min-width: 635px) {
  .line {
    height: 884px;
  }
}

@media (min-width: 668px) {
  .line {
    height: 788px;
  }
}

@media (min-width: 768px) {
  .line {
    height: 812px;
  }
}

@media (min-width: 1024px) {
  .line {
    height: 540px;
  }
}

@media (min-width: 1025px) {
  .line {
    height: 669px;
  }
}

@media (min-width: 1200px) {
  .line {
    height: 686px;
  }
  .experience-padding {
    padding-left: 25vw/* 320px */;
    padding-right: 25vw/* 320px */;
  }
  .portfolio-padding {
    padding-left: 10vw/* 320px */;
    padding-right: 10vw/* 320px */;
  }
}

@media (min-width: 1240px) {
  .line {
    height: 700px;
  }
}

@media (min-width: 1264px) {
  .line {
    height: 719px;
  }
  .portfolio-padding {
    padding-left: 15vw/* 320px */;
    padding-right: 15vw/* 320px */;
  }
}
